<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../images/ionic-column.png">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Malcolm-esque</title>
</head>

<body>
    <header>
        <section class="image"></section>
        <div class="main-title">
          <h1>Malcolm-esque</h1>
          <p class='subtitle'>The Blog</p>
        </div>
  <nav>
    <a href='/'>Home</a>
    {{#if loggedIn}}
      <button id="logout">Log out</button>
      <a href="/dashboard">Dashboard</a>
    {{else}}
      <a href="/login">Log in</a>
      <a href="/register">Sign up</a>
    {{/if}}
  </nav>

    </header>
    <main>
        {{{ body }}}
    </main>
    <footer>
      <p>Made with ❤️ by Dustin Grijalva</p>
      <div>
        {{!-- <a href="https://patreon.com/user?u=87703539" alt="Support">
          <img src="../images/patreon.png" />
        </a> --}}
      </div>
    </footer>
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>
</html>