
<div>
  <form class="add-story">
      <label for="title">Title</label>
      <input name="title" type="text" id="title" />
      <label for="subtitle">Subtitle</label>
      <input type="subtitle" id="subtitle" name="subtitle" />
      <label for="name">Name</label>
      <input type="name" id="name" name="name" >
      <label for="image-url">Image URL</label>
      <input type="text" id="image-url" name="image-url" /> 
      <button type="submit">Add Story</button>
  </form>
</div>
{{!-- </div> --}}
{{!-- <div *ngIf="!isMe"> --}}
  Psych!
{{!-- </div> --}}
<script src="/javascript/add-story.js"></script>
</div>