<main class="login">
  <h3>Change Password</h3>
  <form>
    <div>
      <label for="currentPassword">Current Password</label>
      <input name="currentPassword" type="password" id="currentPassword" />
      {{#if invalid}}
      <div class="error">Incorrect Password</div>
      {{/if}}
    </div>
    <div>
      <label for="newPassword">New Password</label>
      <input name="newPassword" type="password" id="newPassword" />
    </div>
    <div>
      <label for="newPassword">Confirm New Password</label>
      <input name="confirmPassword" type="password" id="confirmPassword" />
      {{#if mismatch}}
      <div class="error">Passwords do not match</div>
      {{/if}}
      {{#if password}}
      <div class="error">
      {{else}}
      <div>
      {{/if}}
        Password must contain:
        <ul>
          <li>at least 8 characters</li>
          <li>one uppercase letter</li>
          <li>one lowercase letter</li>
          <li>one digit</li>
          <li>one special character(●!#$%&()*+,-./:;=?@[\]^_`|~])</li>
        </ul>
      </div>
    </div>
    <button type="submit">Change</button>
  </form>
  <script src="/javascript/change-password.js"></script>
</main>