<div class="dashboard">
  <h2>Welcome {{user.username}}</h2>
  <h3>Your Comments</h3>
  {{> comments user}}
<h3>Change Password</h3>
  <div>
    <a href="/changePassword/{{user.id}}">Change</a>
  </div>
  <h3>Cancel Subscription</h3>
  <div>
    <a href="/cancellation">Cancel</a>
  </div>
</div>