<main class="login">
  <h3>Log In</h3>
  <form>
    {{#if invalid}}
    <div class="error">Invalid username or password</div>
    {{/if}}
    <div>
      <label for="username">Username</label>
      <input name="username" type="text" id="username"/>
    </div>
    <div>
      <label for="password">Password</label>
      <input name="password" type="password" id="password" />
    </div>
    <button type="submit">Log In</button>
  </form>
  <script src="/javascript/login.js"></script>
</main>