body {
  margin: 0;
  font-family: 'gill sans', 'Times New Roman', 'Times New Roman', Times, serif;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  height: 100vh;
}

main {
  margin-bottom: 50px;
  min-height: 80%;
}

/* header */
header {
  width: 100%;
  margin: 0;
  display: flex;
}

.image {
  background-image: url('../images/ionic.jpg');
  width: 60%;
  height: 300px;
  background-size: cover;
  background-position: 100% 30%;
}

nav {
  width: 35%;
  height: 300px;
  justify-content: right;
}

nav a {
  padding: 0 10px;
  color: #553d36;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
}

nav button {
  padding: 0 10px;
  border: none;
  background-color: white;
  font-size: 20px;
  color: #553d36;
  font-family: 'gill sans', 'Times New Roman', 'Times New Roman', Times, serif;
}

nav button:hover {
  cursor: pointer;
}

nav div {
  display: inline;
}

h1 {
  position: absolute;
  margin: 0;
  text-align: center;
  top: 70px;
  left: 40%;
  font-size: 80px;
  text-align: center;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(90deg, #a4bef3, #87a0b2, #684a52, #553d36);
}

.subtitle {
  left: 61%;
  position: absolute;
  top: 160px;
  font-size: 30px;
  color:#553d36
}

/* login & signup page */
.login {
  text-align: center
}

.login form {
  text-align: left;
  margin: 30px 80px;
  padding: 30px;
  background-color: #bfddff;
}

.login div {
  padding: 15px;
  display: flex;
  flex-direction: column;
  font-size: 23px;
  margin: 0 auto;
  width: 70%;
}

.login label {
  margin-bottom: 10px;
}

.login button {
  width: 100px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  padding: 5px;
  border-radius: 17px;
  background-color: #553d36;
  background-image: linear-gradient(0deg, #553d36, #684a52, #857885);
  border: none;

  color: #a4bef3;
  font-size: 16px;
}

.dormant {
  width: 100px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  padding: 5px;
  border-radius: 17px;
  background-image: linear-gradient(0deg, #1d1d1d, #5e5e5e, #857885);
  border: none;

  color: #a4bef3;
  font-size: 16px;
}

.login button:hover {
  cursor: pointer;
}

.login div div {
  font-size: .8em;
  width: 95%;
}

.error {
  color: rgb(214, 42, 42);
}

/* add story page */
.addStory{
  margin: 20px;
}

/* home page */
.story {
  margin: 50px auto;
  width: 85%;
}

.story img {
  max-width: 101%;
}

.storyList {
  margin: 50px auto;
  width: 80%;
}

.story-date {
  text-align: right;
  width: 90%;
}

/* .storyList a:hover {
  transition: all .5s ease-in-out;
}  */

/* story icon */
.background {
  background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0),rgba(0,0,0,.75),rgba(0,0,0,1));
  width: 100%;
  height: 700px;
  z-index: 2;
  position: relative;
  transition: all .5s ease-in-out;
  -webkit-transition: background-image .5s;
  -moz-transition: background-image .5s;
  -o-transition: background-image .5s;
  transition: background-image .5s;
}

.foreground {
  opacity: 0%;
  background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5),rgba(0,0,0,.75),rgba(0,0,0,1));
  width: 100%;
  height: 700px;
  z-index: 1;
  position: absolute;
  top: 0;
  transition: all .5s ease-in-out;
}

.storyLink img {
  width: 100%;
  z-index: 0;
  height: 700px;
  position: absolute;
  top: 0;
}

.storyTitle {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100px;
  margin: 20px auto;
  text-align: center;
  text-decoration: none;
  font-size: 100px;
  color:#a4bef3;
}

.storySubtitle {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 20px auto;
  text-align: center;
  text-decoration: none;
  font-size: 34px;
  color:#a4bef3;
}

.link {
  transition: all .5s ease-in-out;
  margin: 40px 0;
}

.link:hover {
  transform: scale(1.075);
  transition: all .5s ease-in-out;
}

.storyLink {
  position: relative;
}

.storyLink:hover .foreground {
  opacity: 100%;
}

/* story */
.storyContent {
  font-size: 25px;
  margin: 30px;
  color:#553d36;
  line-height: 1.5;
}

.caption {
  margin: 0px 30px;
  font-size: 20px;
}

.storyHeader h2 {
  font-size: 100px;
  margin: 45px 0;
}

.storyHeader h3 {
  font-size: 30px;
}

/* comment section */
.addComment {
  width: 90%;
  margin: 10px auto;

}

.addComment textarea{
  width: 85%;
  border: solid #87a0b2 3px;
  border-radius: 7px;
  font-size: 20px;
  font-family: 'gill sans', 'Times New Roman', 'Times New Roman', Times, serif;
}

.addComment button {

  width: 100px;
  margin: 10px auto;
  justify-content: center;
  padding: 5px;
  border-radius: 17px;
  background-color: #553d36;
  background-image: linear-gradient(0deg, #553d36, #684a52, #857885);
  border: none;

  color: #a4bef3;
  font-size: 16px;
}

.addComment button:hover {
  cursor: pointer;
}

.comment {
  width: 85%;
  border: solid #87a0b2 3px;
  border-radius: 10px;
  font-size: 20px;
  margin: 10px 0;
  padding: 0 9px;

}

.comment h5 {
  margin: 0 12px;
  display: inline;
  font-size: .9em;
}

.commentText {
  margin: 10px 0;
  word-wrap: break-word;
}

.commentDate {
  display: inline;
  font-size: .8em;
}

/* dashboard */
.dashboard {
  margin: 0 auto;
  width: 90%;
}

.dashboard .comment {
  margin: 10px auto;
  padding-bottom: 15px;
}

.comment a  {
  float: right;
  width: 100px;
  margin: 0 5px;
  /* display: flex; */
  justify-content: center;
  padding: 5px;
  border-radius: 17px;
  background-color: #553d36;
  background-image: linear-gradient(0deg, #553d36, #684a52, #857885);
  border: none;
  color: #a4bef3;
  font-size: 16px;
}

.comment a:hover {
  cursor: pointer;
}

.dashboard a {
  text-decoration: none;
  font-family: Verdana;
  width: 100px;
  margin: 0 30px;
  display: flex;
  justify-content: center;
  padding: 5px;
  border-radius: 17px;
  background-color: #553d36;
  background-image: linear-gradient(0deg, #553d36, #684a52, #857885);
  border: none;
  color: #a4bef3;
  font-size: 16px;
}

.dashboard a:hover {
  cursor: pointer;
}

/* edit comment */
.edit-comment {
  width: 70%;
  margin: 20px auto;
}

.edit-comment a, .edit-comment button {
  float: left;
  text-decoration: none;
  font-family: Verdana;
  width: 100px;
  margin: 0 30px;
  display: flex;
  justify-content: center;
  padding: 5px;
  border-radius: 17px;
  background-color: #553d36;
  background-image: linear-gradient(0deg, #553d36, #684a52, #857885);
  border: none;
  color: #a4bef3;
  font-size: 16px;
}

.edit-comment textarea {
  border: solid #87a0b2 3px;
  border-radius: 10px;
  margin: 10px 0;
  padding: 0 9px;
}

/* cancellation */
.cancellation {
  font-size: 1.2em;
}
.cancellation p {
  margin: 20px auto;
  width: 450px;
}
.cancellation button {
  width: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 5px;
  border-radius: 17px;
  background-color: #553d36;
  background-image: linear-gradient(0deg, #553d36, #684a52, #857885);
  border: none;
  color: #a4bef3;
  font-size: 16px;
}

.cancellation button:hover {
  cursor: pointer;
}

/* malcolm only */
table, th, td {
  border: 1px solid black;
}

/* footer */
footer {
  background-image: linear-gradient(240deg, #a4bef3, #87a0b2, #684a52, #553d36);
  width: 100%;
  font-size: 17px;
  color: white;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}


footer img {
  opacity: 50%;
  height: 50px;
  margin: 15px;
}

footer img:hover {
  opacity: 100%;
}

@media screen and (max-width: 980px) {
  h1 {
    font-size: 60px;
  }

  .image, nav {
    height: 200px;
  } 

  .subtitle {
    margin: 0;
    font-size: 23px;
  }

  .background {
    height: 400px;
  }

  .foreground {
    height: 400px;
  }

  .storyListImage {
    height: 400px;
  }

  .storyTitle {
    font-size: 60px;
    bottom: 50px;
  }

  .storySubtitle {
    font-size: 25px;
  }

  .storyHeader h2 {
    font-size: 75px;
  }

  .story {
    width: 90%;
  }

  .storyText {
    font-size: 20px;
  }

  .caption {
    font-size: 17px;
  }

  .comment {
    width: 97%;
  }

  .commentText {
    font-size: 17px;
  }
}

@media screen and (max-width: 790px) {
  header {
    flex-wrap: wrap;
  }

  .image {
    width: 100%;
  }

  h1 {
    position: relative;
    top: 0;
    left: 0;
  }

  .subtitle {
    position: relative;
    top: 0;
    left: 0;

  }
  nav {
    width: 100%;
    display: flex;
    height: 25px;
  }

  .main-title {
    padding: 0 15px;
  }

  .storyHeader h2 {
    font-size: 50px;
  }

  .login {
    margin: 15px;
  }

  .login form {
    margin: 0;
    padding: 10px;
  }

  .login div {
    margin: 0;
    width: 80%;
  }

  .login ul {
    font-size: 15px;
    padding: 0 0 0 15px;
  }
}

@media screen and (max-width: 650px) {
  .background {
    height: 300px;
  }

  .foreground {
    height: 300px;
  }

  .storyListImage {
    height: 300px;
  }

  .storyTitle {
    font-size: 40px;
  }

  .storySubtitle {
    font-size: 20px;
  }

  .storyList {
    margin: 25px auto;
    width: 90%;
  }

  footer img {
    height: 30px;
  }

  footer p {
    margin: 10px;
  }
}

@media screen and (max-width: 500px) {
.image {
  height: 125px;
}

  h1 {
    font-size: 35px;
  }

  .subtitle {
    font-size: 15px;
  }

  nav a, nav button {
    font-size: 15px;
    height: 15px;
  }

  .background {
    height: 200px;
  }

  .foreground {
    height: 200px;
  }

  .storyListImage {
    height: 200px;
  }

  .storyTitle {
    font-size: 30px;
    bottom: 30px;
  }

  .storySubtitle {
    font-size: 15px;
  }

  /* .story {
    margin: 0px auto;
  } */

  .storyHeader h2 {
    font-size: 35px;
    margin: 15px;
  }

  .storyHeader h3 {
    font-size: 20px;
    margin: 10px;
  }

  .story {
    width: 100%;
    margin: 20px 0;
  }

  .storyContent {
    margin: 0;
  }

  .storyText {
    font-size: 17px;
    margin: 15px;
  }

  .caption {
    font-size: 12px;
  }

  .comments {
    margin: 15px;
  }

  .comment {
    width: 90%;
  }

  .commentText {
    font-size: 13px;
  }

  .comment h5 {
    font-size: 13px;
  }

  .commentDate {
    font-size: 13px;
  }

  .comment a {
    float: none;
    margin: 10px;
  }

  .edit-comment {
    margin: 0 auto;
    width: 90%;
  }

  .edit-comment textarea {
    max-width: 90%;
  }

  .edit-comment a, .edit-comment button {
    width: 100px;
    margin: 5px;
  }
}